[defaults]
collections_path = ../ansible-collections
inventory = inventories
host_key_checking = False
timeout = 30
remote_user = devops
private_key_file = /home/dvaliente/.ssh/id_rsa.devops

[privilege_escalation]
become = True
become_method = sudo
