global                                                                                                                                                
    log         127.0.0.1 local2                                                                                                                      
                                                                                                                                                      
    chroot      /var/lib/haproxy                                                                                                                      
    pidfile     /var/run/haproxy.pid                                                                                                                  
    maxconn     4000                                                                                                                                  
    user        haproxy                                                                                                                               
    group       haproxy                                                                                                                               
    daemon                                                                                                                                          
                                                                                                                                                      
    # turn on stats unix socket                                                                                                                       
    stats socket /var/lib/haproxy/stats

defaults                                                              
    mode                    http                                                 
    log                     global                                               
    option                  httplog                                              
    option                  dontlognull                                          
    option http-server-close                                                     
    option forwardfor       except 127.0.0.0/8                                   
    option                  redispatch                                                                                                                
    retries                 3                                                                                                                         
    timeout http-request    10s                                                                                                                       
    timeout queue           1m                                                                                                                        
    timeout connect         10s                                                                                                                       
    timeout client          1m                                                                                                                        
    timeout server          1m                                                                                                                        
    timeout http-keep-alive 10s                                                                                                                       
    timeout check           10s                                                                                                                       
    maxconn                 3000                                                                                                                      
                                                                                                                                                      
frontend  main                                                                                                                                        
    bind :80
    bind :443 ssl crt /etc/ssl/private/tekne.sv.pem # strict-sni
    http-request return status 200 content-type text/plain lf-string "%[path,field(-1,/)].${ACCOUNT_THUMBPRINT}\n" if { path_beg '/.well-known/acme-challenge/' }

    use_backend consul if { req.hdr(host) -i consul.tekne.sv }
    use_backend repo if { req.hdr(host) -i repo.tekne.sv  }
    use_backend jenkins if { req.hdr(host) -i jenkins.tekne.sv }
    use_backend argocd if { req.hdr(host) -i argocd.tekne.sv }
    use_backend grafana if { req.hdr(host) -i grafana.tekne.sv }

backend consul
    mode http
    balance roundrobin
    server consul0 192.168.75.11:8500 check

backend jenkins
    mode http
    balance roundrobin
    server jenkins0 192.168.75.12:8080 check

backend repo
    mode http
    balance roundrobin
    server repo0 192.168.75.13:80 check

backend argocd                                                  
    mode http
    balance roundrobin                                          
    server argocd0 192.168.122.216:30137 check

backend grafana
    mode http
    balance roundrobin
    server grafana0 192.168.122.216:32244 check